//COLORS

$Blue: #5175FF;
$Light-blue:#829CFF;
$Pale-blue:rgba(81, 117, 255, 0.15);
$Very-light-gray:#F2F2F2;
$Dark-gray:#333950;
$Gray:#747B95;
$Very-dark-gray:#25293A;
$Red:#F05B5B;
$White:#fff;

//UI

$background-body:$Very-light-gray;
$background-card-light:$White;
$background-card-accent:$Blue;
$background-footer:$Very-dark-gray;
$background-button-accent:$Blue;
$background-button-light:$White;
$background-button-shade:$White;
$background-countdown:$Dark-gray;

$color-heading-dark:$Dark-gray;
$color-heading-light:$White;
$color-paragraph-dark:$Gray;
$color-paragraph-light:$White;
$color-button:$Blue;
