@import 'normalize','settings','variables';

body {
    font-family: 'Kumbh Sans', sans-serif;
    background:url(../assets/home/bg-pattern-header.svg) no-repeat top/contain, $background-body;
    background-size: 458px;
    background-position-y: -170px;
    text-align: center;
    position: relative;
}

p {
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.header {
    margin-bottom: 8rem;
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    padding: 4.6rem 2.4rem 0;
}

.intro {
    max-width: 46.5rem;
    margin: 0 auto 894px;

    &__hero-image {
        width: 52.3%;
        margin-bottom: 4.4rem;
    }

    &__heading {
        font-size: 4rem;
        line-height: 4.8rem;
        margin-bottom: 2.4rem;
        color: $color-heading-dark;
    }

    &__paragraph {
        color: $color-paragraph-dark;
        line-height: 2.6rem;
    }

    &__paragraph-sm {
        margin-bottom:2.4rem;
    }

    &__paragraph-md {
        margin-bottom:6.4rem;
    }

    &__sign-up {
        margin-bottom: 29.6rem;
    }
}

.button {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.8rem;
    display: block;
    padding: 1.4rem 0;
    width: 171px;
    height: 56px;
    border-radius: 28px;
    margin: auto;
    border:none;
    text-align: center;
}

.button:hover{
    cursor: pointer;
}

.button--primary {
    background:$background-button-accent;
    color:white;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}

.button--secondary {
    background:$Pale-blue;
    color:$Blue;
}

.button--tertiary {
    background:$White;
    color:$Blue;
}

.offer-wrapper {
    padding: 0 2.4rem;
    max-width: 37.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10rem;
}

.cards {

    margin-bottom: 10rem;
    ;
    &__card {
        padding:4rem 0;
        border-radius: 13px;
        box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
        margin-bottom: 3.2rem;
    }

    &__card:last-child {
        margin-bottom: 0;
    }

    &__card--primary {
        background:$background-card-light;
    }

    &__card--secondary {
        background:url(../assets/home/bg-pattern-pricing.svg) no-repeat top, $background-card-accent;
        background-size:968px;
        background-position-y: -430px;
        color: white;
    }

    &__subtitle {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 700;
        margin-bottom: 4rem;
    }

    &__heading{
        font-size: 5.6rem;
        line-height: 6.4rem;
        margin-bottom: 0.8rem;
    }

    &__subtitle-two {
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-bottom: 5.6rem;
    }

    &__list {
        margin-bottom: 3.2rem;
    }

    &__list-item {
        list-style: none;
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: $color-paragraph-dark;
        margin-bottom: 1.6rem;
    }

    &__card--secondary &__list > li {
        color: white;
    }
}

.footer {

    width: 100%;
    height: 1248px;
    background:url(../assets/home/bg-pattern-footer.svg) bottom no-repeat, $background-footer;
    background-size: 1100px;
    background-position-y: 220px;

    &__secondary {
        height: 32rem;
        background-size: 1200px;
        background-position-y: -400px;
    }
}

.countdown {

    &__date {
        font-weight: 700;
        line-height: 4.8rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 1.8rem;
        color: $Dark-gray;
    }

    &__date--light {
        color: white;
    }

    &__date--accent {
        color: $Blue;  
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__wrapper {
        background:$background-countdown;
        border-radius: 4px;
        width: 7.2rem;
        padding: 1.1rem 0 1rem;
    }

    &__wrapper--light {
        background:rgba(81, 117, 255, 0.1)
    }

    &__number {
        font-size: 3.2rem;
        line-height: 4.8rem;
    }

    &__number--light {
        color: white;
    }

    &__number--accent {
        color: $Blue;
    }

    &__scale {
        font-size: 1.2rem;
        line-height: 2.8rem;
        font-weight: 700;
        color: $Dark-gray;
        opacity: 0.5;
    }

    &__scale--light {
        color: white;
        opacity: 0.5;
    }
}

.sign-up {

    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    padding: 2.4rem;
    background: $background-card-light;

    &__container {
        position: absolute;
        bottom: 90px;
        padding:0 2.4rem;
        width: 100%;
    }

    &__wrapper {
        margin-bottom: 4rem;
    }

    &__input-wrapper {
        position:relative;
        margin-top: 2.4rem;;
    }

    &__arrow {
        position: absolute;
        right: 15px;
        top: 12px;
    }

    &__item {
        display: block;
        width: 100%;
        background:transparent;
        border: none;
        border-bottom: 1px solid rgba(116, 123, 149, 0.5);
        color: $Dark-gray;
        font-size: 1.6rem;
        line-height: 2.8rem;
        padding:0 0 1.7rem 1.6rem;
        margin-top:2.4rem;
        text-align: left;
    }

    &__item:first-child{
        margin-top: 0;
    }

    &__list-group {
        position: absolute;
        width: 100%;
        z-index: 10;
        background: white;
        opacity: 0;
        text-align: left;
        padding: 2.4rem 3.2rem;
        border: 1px solid rgba(51, 57, 80, 0.153273);
        box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
        border-radius: 8px;
        margin-top: 2.4rem;
    }

    &__list-group-item {
        font-weight: 700;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid rgba(116, 123, 149, 0.25);
    }

    &__list-group-item:first-child  {
        padding-top: 0;  
    }

    &__list-group-item:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    &__opacity{
        margin-left: 0.8rem;
        opacity: 0.4;
    }

    &__bold {
        font-weight: 700;
    }
}

@media screen and (min-width:768px) {

    body {
        text-align: left;
        background:url(../assets/home/bg-pattern-header.svg) no-repeat right top/contain, $background-body;
        background-size: 500px;
        background-position-y: -123px;
        background-position-x: 490px;
    }

    .light-skin {
        background: #FAFAFA;
    }

    .main {
        padding: 7.2rem 3.9rem 0;
        max-width: 768px;
        width: 100%;
    }

    .header {
        margin-bottom: 10.4rem;
    }

    .intro {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 63.8rem;
        max-width: 68.9rem;

        &__content {
            width: 75%;
        }

        &__hero {
            text-align: right;
        }

        &__hero-image {
            width: 85%;
            margin-bottom: 0;
        }

        &__paragraph-md {
            margin-bottom: 4rem;
            max-width: 57.2rem;
            text-align: center;
        }

        &__sign-up {
            flex-direction: column;
            margin-bottom: 31rem;
        }
    }

    .offer-wrapper {
        max-width: 68.9rem;
        padding: 0;
    }

    .cards {

        &__card {
            padding: 4.8rem 6.8rem 4.8rem 4.8rem;
            margin-bottom: 2.4rem;
        }

        &__card:last-child {
            margin-bottom: 0;
        }

        &__list {
            margin-bottom:0;
            margin-top: auto;
        }

        &__card-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__subtitle {
            margin-bottom: 1.6rem;
        }

        &__subtitle-two {
            margin-bottom: 2.4rem;
        }

        &__heading {
            margin-bottom: 0.4rem;
        }
    }

    .button {
        margin: 0;
    }

    .countdown {
        width: 44.8rem;
        margin: auto;
        text-align: center;

        &__wrapper {
            width: 10rem;
            height: 12.8rem;
            padding: 1.6rem 0 1.3rem;
            border-radius: 13px;
        }

        &__number {
            font-size: 5.6rem;
            line-height: 6.4rem;
        }

        &__scale {
            font-size: 1.6rem;
        }

        &__block {
            margin-bottom: 4.8rem;
        }

        > .button {
            margin: auto;
        }
    }

    .footer {
        height: 98.6rem;

        &__secondary {
            height: 38rem;
        }
    }

    .sign-up {
        &__container {
            max-width: 44.5rem;
            bottom: 160px;
        }

        .button {
            margin: auto;
        }
    }
}

@media screen and (min-width:1440px) {
    .main {
        padding: 8.1rem 0 0;
        max-width: 110rem;
    }

    .header {
        margin-bottom: 10.2rem;
    }

    .intro {

        width: 100%;
        max-width: 110rem;
        margin-bottom: 43.8rem;

        &__content {
            width: 54rem;
        }

        &__hero {
            width: 475px;
        }

        &__hero-image {
            width: 47.5rem;
        }

        &__heading {
            font-size: 5.6rem;
            line-height: 6.4rem;
        }

        &__paragraph {
            font-size: 1.8rem;
            line-height: 2.8rem;
            margin-bottom: 3.2rem;
        }
    }

    .offer-wrapper {
        width: 110rem;
        max-width: 110rem;
    }

    .cards {
        display: flex;
        margin-bottom: 8.2rem;

        &__card {
          width: 35rem;
          margin-bottom: 0;
          margin-right: 3rem;
          text-align: center;
          padding: 4rem;

          .button {
              margin: auto;
          }
        }

        &__card:last-child {
            margin-right: 0;
        }

        &__card-wrapper {
            flex-direction: column;
        }

        &__subtitle {
            margin-bottom: 4rem;
        }

        &__heading {
            margin-bottom: 0.8rem;
        }

        &__subtitle-two {
            margin-bottom: 5.6rem;
        }
        &__list {
            margin-bottom: 3.2rem;
        }

        &__list-item:last-child {
            margin-bottom: 0;
        }
    }

    .footer {
        height: 60.3rem;
        background: url(../assets/home/bg-pattern-footer.svg) bottom  left no-repeat, #25293A;
        background-size: 1600px;
        background-position-y: -350px;
        background-position-x: -510px;
        max-width: 144rem;
    }

    .countdown {

        display: flex;
        justify-content: space-between;
        width: 100%;

        &__block {
            width: 44.8rem;
            margin-bottom: 0;
        }

        .button {
            margin: 6.8rem 0 0 auto;
        }

        &__date {
            text-align: left;
            margin-bottom: 0;
        }
    }
}
